{%- liquid
  assign disable_max_width = false
  if section.settings.disable_max_width 
    assign disable_max_width = true
  elsif section.settings.grid_style == 'page' and settings.full_width_page_grid
    assign disable_max_width = true
  elsif section.settings.grid_style == 'alternative' and settings.full_width_alt_grid
    assign disable_max_width = true
  elsif section.settings.grid_style == 'secondary' and settings.full_width_second_grid
    assign disable_max_width = true
  endif
-%}

{% style %}
    #shopify-section-{{ section.id }} {
        --top-spacing: {{ section.settings.top_spacing }};
        --bottom-spacing: {{ section.settings.bottom_spacing }};
    }
{% endstyle %}

<div class="{% if section.settings.use_margins %}side-margins section-container {% endif %}body-font{% if settings.uppercase_body %} uppercase{% endif %}{% if section.settings.show_bottom_line %} bottom-line{% endif %}">
  <div class="{% if section.settings.use_margins %}{{ section.settings.grid_style }}-grid{% if disable_max_width %} disable-max-width{% endif %}{% endif %}">
      {%- for block in section.blocks -%}
      {% render block %}
      {%- endfor -%}
  </div>
</div>
  
{% schema %}
{
  "name": "t:sections.apps.name",
  "tag": "section",
  "settings": [
    {
      "type": "checkbox",
      "id": "use_margins",
      "default": true,
      "label": "t:sections.apps.settings.use_margins.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.settings_titles.section_layout_header.content"
    },
    {
      "type": "select",
      "id": "grid_style",
      "options": [
        {
          "value": "page",
          "label": "t:sections.all.grid_style.options__1.label"
        },
        {
          "value": "secondary",
          "label": "t:sections.all.grid_style.options__3.label"
        },
        {
          "value": "alternative",
          "label": "t:sections.all.grid_style.options__2.label"
        }
      ],
      "default": "page",
      "label": "t:sections.all.grid_style.label"
    },
    {
      "type": "checkbox",
      "id": "disable_max_width",
      "default": false,
      "label": "t:sections.all.disable_max_width.label"
    },
    {
      "type": "checkbox",
      "id": "show_bottom_line",
      "default": false,
      "label": "t:sections.all.show_bottom_line.label"
    },
    {
      "type": "header",
      "content": "t:sections.all.spacing.header.content"
    },
    {
      "type": "range",
      "id": "top_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.top_spacing.label",
      "default": 1
    },
    {
      "type": "range",
      "id": "bottom_spacing",
      "min": 0,
      "max": 2,
      "step": 0.1,
      "unit": "x",
      "label": "t:sections.all.spacing.bottom_spacing.label",
      "default": 1
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ],
  "presets": [
    {
      "name": "t:sections.apps.presets.name"
    }
  ]
}
{% endschema %}